
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.masthead {
  color: #044863;
  position: relative;
  background-color: #00A896;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 100vh;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
  background-color: #044863;
}

.masthead .overlay {
  position: absolute;
  background:linear-gradient(to right, #044863 , #F0F3BD, 75%, 100%);
  background-image: url('/app/assets/image/rawpixel-660714-unsplash.jpg');
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.payment{
  border: 1px solid #044863;
  margin-top: 4vh;
  padding: 10px;
}
.payment__center {
  margin: auto;
}